#!/usr/bin/ksh
# $Id: //Tuxedo/RELEASE/Product/release/server/environment/dwenv.config#10 $
#-----------------------------------------------------------------------
# DWENV.CONFIG - Customizable configuration file for DegreeWorks
#
#  This file is intended to be used to configure a DegreeWorks
#  environment. As such, it contains all the custom/client-specific
#  settings necessary for DegreeWorks to operate. It will never be
#  overwritten during an update.
#
#  !!! NOTE TO DEVELOPERS
#  Some of the values in this file are modified automagically by the
#  install process. In order for this to work, variables must begin
#  on the first character of the line. So the variable must be set
#  on one line, then exported on the next. Example:
#
#       DW_ENV_ID=DW1
#       export DW_ENV_ID
#
#  Always put something after the "=", even if it is just blank quotes.
#  Do not use any actual Ellucian logins or machine names in this file.
#
#-----------------------------------------------------------------------

#-----------------------------------------------------------------------
# DW_ENV
#
# DW_ENV_ID - an identifier for this workspace. Make it short
#               Default: None, must be set explicitly

DW_ENV_ID=DWPROD
export DW_ENV_ID

# DW_ENV_TITLE - A more lengthy title for the environment
#               Default: None, must be set explicitly

DW_ENV_TITLE="Colorado Mesa University Degree Works"
export DW_ENV_TITLE

# DWCOURSESIGNALS - Set to 1 if you want to use the SunGard CourseSignals
#                   tool in conjunction with running the Banner extract
DWCOURSESIGNALS=0
export DWCOURSESIGNALS

# DW64BIT_ENABLED
# On Linux this is determined by doing "uname -m" but on Sun/Aix/HP-UX
# you need to tell DegreeWorks whether you wish to run in 32-bit or 64-bit
# Note: if you were running in 32-bit mode and now want to run in 64-bit mode
# you will lose your audit history (audits saved in 32-bit can't be read by
# DegreeWorks running in 64-bit).
DW64BIT_ENABLED=1
export DW64BIT_ENABLED

# DAP09_INITIALIZE_EXTRACT
# When a webrestart is performed, each dap09 now calls the Banner or OPS 
# student extract initialize logic. Doing the initialization during startup
# allows web refresh requests to run more quickly since the first set of requests
# don't also have to wait for the initialization to occur.
# If it is critical for dap09 to startup as quickly as possible to accept web 
# requests you may want to disable the extract initialization by setting this flag to 0.
DAP09_INITIALIZE_EXTRACT=1
export DAP09_INITIALIZE_EXTRACT

# Tell Transport not to deal with semaphores
MPE_PROC=0 
export MPE_PROC
# Tell Transport to disable ilock and use real db locking instead
NO_ILOCK=1 
export NO_ILOCK
IMAGE_LOCK=1 
export IMAGE_LOCK

# Set the folloing TF_CENTRAL_SERVER variable to 1 if this 
# is a central server installation for Transfer Finder.
TF_CENTRAL_SERVER=0
export TF_CENTRAL_SERVER

#-----------------------------------------------------------------------
# HOME Variables
#
# gsCfgDGWBase - The root of the DGW environment
#               This is used only to generate the defaults for the
#               other environment variables (e.g. gsCfgDGWHome)
#               Default: None, must be set explicitly

gsCfgDGWBase=/dw/prod

# gsCfgDGWHome - The location of the DGW Software
#               Defaults to $gsCfgDGWBase/app

export DGWHOME=$gsCfgDGWBase/app

# ADMIN_HOME - The location of the working data directory
#               Defaults to $gsCfgDGWBase/admin

ADMIN_HOME=/dw/prod/admin
export ADMIN_HOME

# LOCAL_HOME - The location of the client-specific localizations
#               Defaults to $gsCfgDGWBase/local

LOCAL_HOME=/dw/prod/local
export LOCAL_HOME

#The location where fop-0.95, DdlUtils-1.0 and JSAP-2.1 are installed
gsCfgJavaLib="/usr/local/dw/java"
export gsCfgJavaLib

#The location where Java JDK is installed
gsCfgJavaHome="/usr/java/jdk1.7.0_51"
export gsCfgJavaHome

# The fully qualified path of libjvm. Leave blank unless dwenv is not 
# calculating the correct location.
gsCfgJavaLibjvm=
export gsCfgJavaLibjvm

#-----------------------------------------------------------------------
# DATABASE Variables
#
# DB_TYPE - Type of database. Can be "oracle" or "informix"
#                Default: None, must be set explicitly

export DB_TYPE="oracle"

# gsCfgDBName - The database name. Used as default for IMAGE_DBNAME
#               and ORACLE_SID
#               Default: None, must be set explicitly

gsCfgDBName=DWPROD

# IMAGE_DBNAME - Name of IMAGE database environment
#               Default: gsCfgDBName

export IMAGE_DBNAME=$gsCfgDBName

# gsCfgOracleSID - The oracle SID for the environment
#               Defaults to gsCfgDBName

export ORACLE_SID=$gsCfgDBName

# DBSPACE - The database space identifier for DegreeWorks
#               Defaults to "dgw"

export DBSPACE=dgw

# DB_PORT_NBR - If your DW database resides on the DW server AND it does not
# use default port 1521, set DB_PORT_NBR to identify the port you are using

DB_PORT_NBR=
export DB_PORT_NBR

# DB_LOGIN - The loging id and password, in the form "user/pass@machine"
#               Defaults to "dgwadmin/tuxedo"

DB_LOGIN=dwschema/tuxedo@DWPROD
export DB_LOGIN

# DB_LOGIN_BANNER - The Banner login id and password, in the form
#               "user/pass@machine".
#               No default. Set only if accessing Banner, otherwise leave empty
#
# NOTE: Leave these 2 lines commented out. The installer will uncomment
# the appropriate SIS values. Also, do not put spaces on either side of
# the equals sign.

DB_LOGIN_BANNER=dwmgr/dw072014user@PROD
export DB_LOGIN_BANNER

# If a Banner MEP Database is used you MUST define the desired
# VPDI Institution code! If none is found the default value will be used
# which means some data may not be extracted to DegreeWorks properly.
#      *** NOTE *** Leave BLANK for a NON-MEP Banner database.
# Example: If Institution is "MYINST" use:  export BANNER_VPDI=MYINST
#export BANNER_VPDI=

# DB_LOGIN_CLG - The Colleague login id and password, in the form
#               "user/pass@machine".
#               No default. Set only if accessing Colleague, otherwise leave empty
#
# NOTE: Leave these 2 lines commented out. The installer will uncomment
# the appropriate SIS values. Also, do not put spaces on either side of
# the equals sign.

#DB_LOGIN_CLG=""
#export DB_LOGIN_CLG

# DB_LOGIN_OPS - The PeopleSoft login id and password, in the form
#               "user/pass@machine".
#               No default. Set only if accessing PeopleSoft, otherwise leave empty
#
# NOTE: Leave these 2 lines commented out. The installer will uncomment
# the appropriate SIS values. Also, do not put spaces on either side of
# the equals sign.

#DB_LOGIN_OPS=""
#export DB_LOGIN_OPS

#-----------------------------------------------------------------------
# SERVER Variables
#
# DW_SERVICE_ID - Used to identify the service daemons in this config
#               Defaults to ${LOGNAME}_$DW_ENV_ID

export DW_SERVICE_ID=${LOGNAME}_$DW_ENV_ID

# BASE_PORT_DAP - Base socket port for DAP servers

BASE_PORT_DAP=7702
export BASE_PORT_DAP

# BASE_PORT_WEB - Base socket port for WEB servers

BASE_PORT_WEB=8802
export BASE_PORT_WEB

# QUEUE_ID_INCREMENT - Message queue increment to be added base
#               Defaults to 1

QUEUE_ID_INCREMENT=2
export QUEUE_ID_INCREMENT

#-----------------------------------------------------------------------
# APPLICATION Variables
#
# SRNDWAUDITTITLE - Title appearing on web audits
#               Defaults to DW_ENV_TITLE

export SRNDWAUDITTITLE=$DW_ENV_TITLE

# DWSITENAME - Title in TreQ
#               Defaults to DW_ENV_TITLE

export DWSITENAME=$DW_ENV_TITLE

# DGWCPUCOUNT - This is the number of DGW processors to run in
#               parallel, based on the number of cpus. Depending
#               on the number of other applications running on this
#               hardware, it could be set higher than the number of
#               actual cpus in the box.
#               Defaults to 1

export DGWCPUCOUNT=4

# XXXNN_EMAIL_ADDRESS - email address lists used by DegreeWorks
#               for job completion notifications
#               No default, set to null if unused
# DAP16 is the batch parser processor
export DAP16_EMAIL_ADDRESS=
# RAD11 is the bridge for non-Banner and non-OPS sites
export RAD11_EMAIL_ADDRESS=
# DAP21 is the TreQ export process
export DAP21_EMAIL_ADDRESS=
# DAP22 is the batch audit processor
export DAP22_EMAIL_ADDRESS=
# DAP27 is the what-if audit processor
export DAP27_EMAIL_ADDRESS=
# DAP28 is the alternate what-if audit processor
export DAP28_EMAIL_ADDRESS=
# BAN62 is the batch Banner SAP processor
export BAN62_EMAIL_ADDRESS=
# ASSIST is the California ASSIST import processor
export ASSIST_EMAIL_ADDRESS=
# RAD30 is the Banner extract/bridge
export RAD30_EMAIL_ADDRESS=
# RAD20 is the OPS extract/bridge
export RAD20_EMAIL_ADDRESS=
# IT support on your campus
export DWIT_EMAIL_ADDRESS=

# You should specify a FROM (REPLY-TO) address to let your
# users click Reply and ask a question; if not set here
# the FROM is set to the TO address - so users are replying 
# to themselves.
export DWFROM_EMAIL_ADDRESS=some.address@myschool.edu

# You may optionally set a CC address for all emails to be sent to
#export DWCC_EMAIL_ADDRESS=some.other.person@myschool.edu

# Set this to your machine's mail server if not already set; eg: mailhost.mymachine.edu
#export SMTP_MAIL_SERVER=mailhost.mymachine.edu

# Base url to your StudentPlanner web application server deployment.
gsCfgSepBaseUrl="https://dwreporting.coloradomesa.edu:8442/StudentPlanner/"
export gsCfgSepBaseUrl

# Base url to your TransferFinder web application server deployment.
gsCfgTransferFinderBaseUrl=""
export gsCfgTransferFinderBaseUrl

# External logout hook url (for CAS or External Authentication Manager integrations)
# Enable or disable the external logout feature using ENABLE_EXTERNAL_LOGOUT.
gsCfgExternalLogoutUrl=""
export gsCfgExternalLogoutUrl

ENABLE_EXTERNAL_LOGOUT=0
export ENABLE_EXTERNAL_LOGOUT


#-----------------------------------------------------------------------
# BUILD Environment Variables
#
# GCC_LIBS - The location of the gcc libraries
#               No default. Must be set

GCC_LIBS="/usr/lib/gcc/x86_64-redhat-linux/4.4.4/libgcc.a"
export GCC_LIBS

# PRE_OS_LIBS - To be prepended to the LIBS variable
#               Default is null string

export PRE_OS_LIBS=

# POST_OS_LIBS - to be appended to the LIBS variable
#               Default is null string

export POST_OS_LIBS=

# gsCfgPreLibraryPath - Paths to be added to start of LD_LIBRARY_PATH
#               No default. Leave commented unless in use

#export gsCfgPreLibraryPath=/usr/ccs/lib

# gsCfgPostLibraryPath - Paths to be added to end of LD_LIBRARY_PATH
#               No default. Leave commented unless in use

#export gsCfgPostLibraryPath=/usr/ccs/lib

# BUILD_OWNER_METHOD - How to set sticky ownership bit.
#               This should be either "sudo" or "inetd"
#               Default is "sudo"
BUILD_OWNER_METHOD="sudo"
export BUILD_OWNER_METHOD

# DWLDAP - Set DWLDAP to 1 if you want to compile support for LDAP authentication
export DWLDAP=0

#-----------------------------------------------------------------------
# OTHER Custom Variables
#
# gsCfgPreShlibPath  - Custom shared libraries added to beginning
# gsCfgPostShlibPath - Custom shared libraries added to end
#               No default. Leave commented unless needed

#export gsCfgPreShlibPath=""
#export gsCfgPostShlibPath=""

# gsCfgPrePath - path to be added in front of final PATH variable
#               No default. Leave commented unless in use

#export gsCfgPrePath=""

# gsCfgPostPath - path to be added at end of final PATH variable
#               No default. Leave commented unless in use

#export gsCfgPostPath=""


# gsCfgAdditionalIncludes - list of additional directories for C
#                           include files; each directory must be
#                           preceded by "-I"
#export gsCfgAdditionalIncludes="-I/some/place -I/over/here"

#-----------------------------------------------------------------------
#  CONFIG_LAST
#
#  This function is called at the end of configuration to do any
#  special client specific tailoring of the logon process.
#  This function should return 0 if it succeeds, otherwise, an
#  error message should be printed to stderr and the return status
#  should be set to 3.
#
#  Parameters:  None
#  Returns:     3 if an error has occured
#  Globals:
#
#-----------------------------------------------------------------------
function config_Last
{
# The following is an example of an error message that should be
# displayed if necessary. Change the condition and the text. Each
# text line should be preceded by one or more tabs (not zero), and
# not spaces.

if [ "$TRUE" = "$FALSE" ]; then
sText=`cat <<- EOLIT
	An error has occurred in config_Last!\n\n
	Unable to continue login process. Please correct this in the dwenv.config\n
	file before trying to login again.\n
	EOLIT`
  ShowError "$sText"
  return 3
fi

return 0
}  # config_Last


